<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyl.mapper.OrderMapper">
    <select id="getById" resultType="Order">
        SELECT * FROM order WHERE id = #{id};
    </select>

    <select id="getByNo" resultType="Order">
        SELECT * FROM order WHERE no = #{no};
    </select>

    <update id="update" parameterType="Order">
        UPDATE order SET pay_no= #{order.pay_no},payTime = #{order.payTime},payType = #{order.payType},state= #{order.state} WHERE id = #{order.id};
    </update>
</mapper>