<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyl.mapper.OrderMapper">
    <select id="getById" resultType="Order">
        SELECT * FROM o_order WHERE id = #{id};
    </select>

    <select id="getByNo" resultType="Order">
        SELECT * FROM o_order WHERE no = #{no};
    </select>

    <update id="update" parameterType="Order">
        UPDATE o_order SET pay_no= #{pay_no},payTime = #{payTime},payType = #{payType},state= #{state} WHERE id = #{id};
    </update>

    <insert id="add" parameterType="Order" useGeneratedKeys="true" keyProperty="id">
        INSERT o_order (no,createTime,state) VALUES (#{no},#{createTime},#{state})
    </insert>
</mapper>