<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/aop
             http://www.springframework.org/schema/aop/spring-aop.xsd
             http://www.springframework.org/schema/tx
             http://www.springframework.org/schema/tx/spring-tx.xsd
             http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/mvc
             http://www.springframework.org/schema/mvc/spring-mvc.xsd
             http://www.springframework.org/schema/task
             http://www.springframework.org/schema/task/spring-task-3.2.xsd
             http://www.springframework.org/schema/context
             http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 开启注解 -->
    <mvc:annotation-driven />

    <!-- 扫描controller（controller层注入） -->
    <context:component-scan base-package="com.lyl.controller" />

    <context:property-placeholder ignore-unresolvable="true" location="classpath:jdbc.properties" />

    <!-- 内容协商管理器  -->
    <!--1、首先检查路径扩展名（如my.pdf）；2、其次检查Parameter（如my?format=pdf）；3、检查Accept Header-->
 <!--   <bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        &lt;!&ndash; 扩展名至mimeType的映射,即 /user.json => application/json &ndash;&gt;
        <property name="favorPathExtension" value="true"/>
        &lt;!&ndash; 用于开启 /userinfo/123?format=json 的支持 &ndash;&gt;
        <property name="favorParameter" value="true"/>
        <property name="parameterName" value="format"/>
        &lt;!&ndash; 是否忽略Accept Header &ndash;&gt;
        <property name="ignoreAcceptHeader" value="false"/>

        <property name="mediaTypes"> &lt;!&ndash;扩展名到MIME的映射；favorPathExtension, favorParameter是true时起作用  &ndash;&gt;
            <value>
                json=application/json
                xml=application/xml
                html=text/html
            </value>
        </property>
        &lt;!&ndash; 默认的content type &ndash;&gt;
        <property name="defaultContentType" value="text/html"/>
    </bean>-->


    <!-- 当在web.xml 中   DispatcherServlet使用 <url-pattern>/</url-pattern> 映射时，能映射静态资源 -->
    <mvc:default-servlet-handler />
    <!-- 静态资源映射 -->
    <mvc:resources location="/statics/js/" mapping="/js/**" />
    <mvc:resources location="/statics/css/" mapping="/css/**" />
    <mvc:resources location="/statics/images/" mapping="/images/**" />

    <!-- 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!-- 配置MultipartResolver，用于上传文件，使用spring的CommonsMultipartResolver -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="5000000"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>



</beans>